body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.gallery-container{
    background: url("anu9545 (2).jpeg") no-repeat center center/cover;
    color: blueviolet;
    text-align: center;
    padding: 5em 0;
}

section {
    padding: 2em 0;
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 0.5em;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border: 2px solid green;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    width: 80%;
    padding: 0.5em;
    margin-top: 0.5em;
}

form button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 1em 0;
}